<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PharmaStore</title>

    <!-----------------------------------[Favicon]----------------------------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-32x32.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <!------------------------------------------------------------------------------------->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />

    <!-----------------------------[Fontawesome CSS]-------------------------------->
    <link rel="stylesheet" href="~/lib/fontawesome-pro/css/all.css">

</head>
<body>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-------------------------[Fontawesome JS]---------------------------->
    <script src="~/lib/fontawesome-pro/js/all.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
