<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a asp-controller="home" asp-action="index" class="text-decoration-none">
                <img src="~/img/PharmaStore.svg" height="50" width="200" class="img-fluid" alt="Pharma Store">
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form asp-controller="shop" asp-action="index">
                <div class="input-group">
                    <input name="search" value="@ViewBag.search" type="search" class="form-control" placeholder="Search for Medicine">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Topbar End -->