@{
    ViewData["Title"] = "Dashboard";
}
<div class="container-fluid">
    <!---------------------------------------------[Main Content Start]---------------------------------------------->

    <!----------------------------------------------[Main Content End]----------------------------------------------->
</div>