<footer class="bg-white rounded shadow p-3 mb-2 mt-2 border border-1 fixed">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-6 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start text-secondary"><i class="fa-regular fa-copyright"></i> 2023 PharmaStore - Prashant & Prayash</p>
        </div>
    </div>
</footer>